:root {
    /*#### PRIMARY COLORS ####*/
    --primary-900: hsl(26, 100%, 10%);
    --primary-800: hsl(26, 100%, 20%);
    --primary-700: hsl(26, 100%, 32%);
    --primary-500: hsl(26, 100%, 56%);
    --primary-300: hsl(26, 90%, 70%);
    --primary-200: hsl(26, 80%, 80%);
    --primary-100: hsl(26, 60%, 90%);

    /*#### GRAY COLORS ####*/
    --white: hsl(0, 0%, 100%);
    --black: hsl(26, 15%, 6%);
    
    --gray-900: hsl(26, 15%, 3%);
    --gray-800: hsl(26, 15%, 6%);
    --gray-700: hsl(26, 15%, 15%);
    --gray-500: hsl(26, 100%, 56%);
    --gray-300: hsl(26, 15%, 60%);
    --gray-200: hsl(26, 15%, 70%);
    --gray-100: hsl(26, 10%, 95%);

    /*#### AUXILIARY COLORS ####*/
    --blue-700: hsl(205, 85%, 15%);
    --blue-500: hsl(205, 85%, 40%);
    --blue-100: hsl(222, 78%, 84%);

    --red-700: hsl(360, 83%, 25%);
    --red-500: hsl(360, 83%, 62%);
    --red-100: hsl(360, 83%, 80%);

    --green-700: hsl(158, 88%, 25%);
    --green-500: hsl(158, 58%, 62%);
    --green-100: hsl(158, 58%, 80%);

    --yellow-700: hsl(48, 95%, 25%);
    --yellow-500: hsl(48, 95%, 68%);
    --yellow-100: hsl(48, 95%, 80%);
}
