:root {
    --primary: hsl(26, 100%, 56%);
    --cl-1000: hsl(0, 0%, 10%);
    --cl-900: hsl(60, 3%, 6%);
    --cl-800: hsl(27, 44%, 14%);
    --cl-700: hsl(26, 18%, 38%);
    --cl-600: hsl(25, 16%, 59%);
    --cl-500: hsl(28, 48%, 90%);
    --cl-400: hsl(32, 100%, 97%);
    --cl-300: hsl(24, 33%, 97%);
    --cl-200: hsl(0, 0%, 100%);

    --cl-body-font: var(--cl-800);
    --cl-header-font: var(--cl-800);
    --cl-background: var(--cl-400);
    --cl-subscrib-box: var(--cl-500);
    --cl-btn-change-font-size: hsl(28, 48%, 90%, 0);
    --cl-btn-change-font-size-hover: var(--cl-500);
    --cl-btn-change-font-size-border: var(--cl-600);
    --cl-bg-text-anchors: var(--cl-500);
    --cl-input-bg: var(--cl-200);
    --cl-input-button-hover: hsl(26, 100%, 76%);
    --cl-bg-text-recent-box: hsl(32, 100%, 97%, 0.7);

    --badge-cl1: hsl(0, 97%, 66%);
    --badge-cl2: hsl(211, 77%, 58%);
    --badge-cl3: hsl(137, 75%, 39%);
    --badge-cl4: hsl(47, 96%, 71%);

    --hero-gradient: linear-gradient(to bottom, var(--cl-500), var(--cl-400));

    --cl-translucid-500: hsl(32, 100%, 97%, 0.4);
}

.dark-theme {
    --primary: hsl(26, 100%, 56%);
    --cl-1000: hsl(0, 0%, 8%);
    --cl-900: hsl(60, 3%, 6%);
    --cl-800: hsl(30, 6%, 14%);
    --cl-700: hsl(20, 5%, 22%);
    --cl-600: hsl(26, 4%, 32%);
    --cl-500: hsl(24, 5%, 63%);
    --cl-400: hsl(22, 7%, 78%);
    --cl-300: hsl(32, 100%, 97%);
    --cl-200: hsl(0, 0%, 100%);

    --cl-body-font: hsl(32, 100%, 97%);
    --cl-header-font: var(--cl-300);
    --cl-background: var(--cl-1000);
    --cl-subscrib-box: var(--cl-800);
    --cl-btn-change-font-size: hsl(32, 100%, 97%, 0);
    --cl-btn-change-font-size-hover: var(--cl-700);
    --cl-btn-change-font-size-border: var(--cl-400);
    --cl-bg-text-anchors: var(--cl-700);
    --cl-input-bg: var(--cl-700);
    --cl-input-text: var(--cl-300);
    --cl-input-button-hover: hsl(26, 100%, 76%);
    --cl-bg-text-recent-box: hsl(30, 6%, 14%, 0.8);

    --hero-gradient: linear-gradient(to bottom, hsl(60, 3%, 6%), hsl(0, 0%, 8%));

    --cl-translucid-500: hsl(30, 6%, 14%, 0.4);
}
