@import url(colors.css);

body {
    background-color: var(--cl-background);
}

/*#### SPACES ####*/
.header-space {
    margin-top: 6em;
}

/*#### NAVBAR ####*/
.logo {
    width: auto;
    height: 50px;
}

.content-nav {
    display: flex;
    align-items: center;
}

#navigation {
    background-color: var(--cl-translucid-500);
    backdrop-filter: blur(6px);
    height: 60px;
    position: sticky;
    top: 0;
}

.nav-page-links {
    display: flex;
    padding: 0;
}

nav a {
    margin-right: 1.2em;
}

#toggle-theme {
    cursor: pointer;
    width: 25px;
    justify-self: center;
}

#toggle-menu {
    display: none;
    width: auto;
    height: 40px;
    justify-self: end;
}

.menu-mobile {
    display: none;
}

.menu-mobile a {
    border-bottom: 1px solid var(--cl-500);
    padding: 18px 18px 18px 18px;
    margin-right: 0;
}

.menu-mobile a:hover {
    background-color: var(--cl-400);
    padding: 18px 18px 18px 28px;
    transition: 0.7s ease;
}

.menu-mobile img {
    width: 40px;
    height: 40px;
    align-self: center;
    margin-top: 15vh;
}



/*#### HERO SECTION ####*/
#hero {
    background: var(--hero-gradient);
    padding-top: 5em;
    margin-top: -60px;
}

.content-hero {
    padding: 1em;
}

.character {
    width: 100%;
    height: auto;
}

.text-box {
    display: grid;
    align-content: center;
}

/* #### MAIN CONTENT #### */
.main-content {
    padding: 1em;
    background-color: var(--cl-background);
}

/* #### BADGES #### */
.badge {
    border-radius: 1em;
    padding: 0 1.2em;
}

.badge-must-read {
    background-color: var(--green-500);
}

.badge-breathtaking {
    background-color: var(--primary-500);
}

.badge-bad {
    background-color: var(--red-500);
}

.badge-middling {
    background-color: var(--blue-500);
}

.badge-boring {
    background-color: var(--yellow-500);
}


/* #### WRITER INFO #### */
.writer-info {
    padding-left: 0;
    margin: 8px 0 0;
}

.writer-info li {
    display: inline;
}


/* #### AVATAR #### */
.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.5em;
}

/* #### RECENT SECTION #### */
#recent {
    /* margin-top: em; */
}

.recent-lg {
    height: 640px;
    padding: 0 1em 2em 1em;
    background-image: linear-gradient(to bottom, hsl(222, 78%, 84%, 0.1), hsl(0, 0%, 100%)),
    url("../assets/images/post-covers/post-img-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em;
    grid-row: span 2;
    display: grid;
    justify-items: left;
    align-content: end;
}

.recent-img {
    object-fit: cover
}

.recent-md {
    height: 304px;
    padding: 0 1em 2em 1em;
    background-image: linear-gradient(to bottom, hsl(158, 58%, 80%, 0.6), hsl(0, 0%, 100%)),
    url("../assets/images/post-covers/post-img-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em;
    display: grid;
    justify-items: left;
    align-content: end;
}

.recent-sm {
    height: 304px;
    padding: 0 1em 2em 1em;
    background-image: linear-gradient(to bottom, hsl(26, 60%, 90%, 0.6), hsl(0, 0%, 100%)),
    url("../assets/images/post-covers/post-img-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em;
    display: grid;
    justify-items: left;
    align-content: end;
}


/* #### TOP-WRITERS SECTION #### */
#top-writers {
    margin-top: 6em;
}

.top-writers-sm {
    height: 248px;
    padding: 0.9em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em;
    display: grid;
    justify-items: left;
    align-content: end;
    padding: 10px 10px 20px 10px;
    border-radius: 1em;
}

.top-writers-img-1 {
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%, 0), hsl(26, 15%, 6%)),
    url("../assets/images/brandon-sanderson.jpg");
}

.top-writers-img-2 {
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%, 0), hsl(26, 15%, 6%)),
    url("../assets/images/katsuhiro-otomo.jpg");
}

.top-writers-img-3 {
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%, 0), hsl(26, 15%, 6%)),
    url("../assets/images/bill-watterson.jpg");
}

.top-writers-img-4 {
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%, 0), hsl(26, 15%, 6%)),
    url("../assets/images/patrick-rothfuss.jpg");
}

.text-top-writers h3,
.text-top-writers p {
    color: var(--cl-body-font);
}

.text-top-writers {
    width: 100%;
}

/* #### COMIC-BOOK SECTION #### */
#comic-book {
    margin-top: 6em;
}

.box-type-03 {
    border-radius: 1em;
}

.cover {
    width: 100%;
    object-fit: fill;
    border-radius: 1em 1em 0 0;
}

.card-block ul {
    margin-top: 2em;
}


/* #### TECHNICAL SECTION #### */
#technical {
    margin-top: 6em;
}



/* #### LITERATURE SECTION #### */
#literature {
    margin-top: 6em;
}

/* #### SUBSCRIBE SECTION #### */
#subscribe {
    margin-top: 7em;
    background-color: var(--cl-subscrib-box);
    padding: 4em;
    border-radius: 1em;
}

.subscribe-text-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;   
}

/* #### FOOTER SECTION #### */
#footer {
    background-color: var(--cl-900);
    padding: 1em;
}

#footer span,
#footer nav a {
    color: var(--cl-300);
}

.content-copyright {
    display: flex;
    justify-content: space-between;
}


/* #### POST PAGE #### */
#title-article {
    margin-top: 4em;
}

#article {
    margin-top: 4em;
}

#article img {
    width: 100%;
}

.content-article {
    padding: 1em;
}

.content-title {
    padding: 1em;
}

.img-article {
    width: 100%;
    height: auto;
}

.img-article-container {
    background-image: url("../assets/images/post-covers/cover-article-process.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/* #### BUTTONS #### */
.btn-change-font-size {
    border: 1px solid var(--cl-btn-change-font-size-border);
    border-radius: 0.3em;
}

.btn-change-font-size button:nth-child(2) {
    border-left: 1px solid var(--cl-btn-change-font-size-border);
    border-right: 1px solid var(--cl-btn-change-font-size-border);
}

.btn-change-font-size button {
    padding: 15px;
    cursor: pointer;
    border: 0;
    background-color: var(--cl-btn-change-font-size);
    color: var(--cl-body-font);
}

.btn-change-font-size button:hover {
    background-color: var(--cl-btn-change-font-size-hover);
}

#btn-scroll-top {
    display: none;
    z-index: 990;
    padding: 0.6em;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    position: fixed;
    bottom: 4vh;
    right: 4vw;
    background-color: var(--primary);
}

#btn-scroll-top img {
    width: 30px;
    height: auto;
}

/* #### ASIDE #### */
.text-tools {
    display: flex;
    position: sticky;
    flex-direction: column;
    top: 10vh;
}

.text-tools .btn-change-font-size {
    width: 157px;
}

.text-anchors {
    display: flex;
    flex-direction: column;
    margin: 3em 0 1em 0;
}

#aside {
    margin-top: 4em;
}

.text-anchors a {
    text-decoration: none;
    padding: 0.2em 0.5em;
}

.text-anchors a.active {
    background-color: var(--cl-500);
    border-radius: 0.3em;
}

.text-anchors a:hover {
    text-decoration: none;
    background-color: var(--cl-500);
    border-radius: 0.3em;
}



/* #### MEDIA QUERIES #### */
@media (max-width: 990px) {
  .recent-lg {
    grid-row: span 1;
  }

  #aside {
    display: none;
  }
}

@media (max-width: 575px) {
    #navbar input {
        display: none;
    }

    .recent-lg {
        grid-row: span 1;
    }

    #aside {
        display: none;
    }

    .nav-page-links {
        display: none;
    }

    #toggle-theme {
        display: none;
    }

    #toggle-menu {
        display: grid;
    }

    #toggle-theme-mobile {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .menu-mobile.show-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding-top: 1.2em;
        position: fixed;
        top: 60px;
        background-color: var(--cl-translucid-500);
        backdrop-filter: blur(6px);
        z-index: 999;
    }
}