@import url(colors.css);
@import url(fonts.css);

/* #### ALL DOCUMENT #### */
body {
    font-family: 'Roc Grotesk Regular';
    font-size: 18px;
    line-height: 1.6em;
    color: var(--cl-body-font);
}

/* #### PARAGRAPHS #### */
p {
    margin: 0 0 1em 0;
}

.small-p {
    font-size: 14px;
}

.content-article p {
    margin: 0 0 2em 0;
}

/* #### HEADERS, TITLES #### */
h1 {
    font-size: 2.5em;
    line-height: 0.9em;
}

.big-title {
    font-size: 3.5em;
    margin: 0 0 0.2em 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.55em;
}

h4 {
    font-size: 1.25em;
}

h1,
h2,
h3,
h4 {
    margin: 0 0 0.3em 0;
    color: var(--cl-header-font);
    line-height: 1.2em;
    font-family: 'Aktiv Grotesk Ex Regular';
}

.recent-sm h2 {
    font-size: 1.5em;
}

/* #### QUOTES #### */
q, cite, blockquote p {
    font-family: 'Roc Grotesk Regular';
    font-style: italic;
    font-size: 1.1em;
    color: var(--cl-700);
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

/* #### FORM INPUTS #### */
input[type=email] {
    color: var(--cl-input-text);
    font-size: 1em;
}

.subscribe-text-box input[type=button] {
    font-weight: 700;
    text-transform: uppercase;
}

/* #### LINKS #### */
a {
    color: inherit;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}

a:hover {
    text-decoration-color: var(--cl-body-font);
}

nav a {
    text-decoration: none;
    color: var(--cl-body-font);
}

nav a:active, 
a:hover {
    color: var(--primary);
}

.badge {
    font-family: 'Roc Grotesk Regular';
    font-weight: 600;
    font-size: 0.7em;
}

.content-article a {
    color: var(--cl-body-font);
    text-decoration: underline;
}

.content-article a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.text-top-writers a h3 {
    font-size: 1.3em;
}

.text-top-writers a:hover {
    color: var(--cl-body-font);
    text-decoration: underline;
}

/* #### LIST #### */
ul li {
    font-size: 14px;
}

#navbar ul li {
    list-style: none;
    font-size: 1.01em;
}

.content-article ul li {
    font-size: 1em;
}

.text-anchors ul li {
    list-style: none;
}

.menu-mobile li {
    list-style: none;
}

/* #### BUTTONS #### */
.btn-change-font-size button {
    font-family: 'Roc Grotesk Regular';
    font-weight: 600;
    font-size: 1em;
}

/* #### MEDIA QUERIES #### */
@media (max-width: 990px) {
    .big-title {
        font-size: 2.7em;
        color: var(--cl-body-font);
    }

    h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 575px) {
    .big-title {
        font-size: 2em;
        color: var(--cl-body-font);
    }

    h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 215px) {
    .big-title {
        font-size: 1.3em;
        color: var(--cl-body-font);
    }

    h2 {
        font-size: 0.7em;
    }
}